.table {
  border: 1px solid #CCC;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
.table td, .table th {
  border-left: 1px solid #CCC;
  overflow: visible;
  padding: .4em .6em;
}
.table td:first-child, .table th:first-child {
  border-left-width: 0;
}
.table thead {
  vertical-align: top;
  background: #EEE;
  text-align: left;
}
.table.table-bordered tr {
  border-bottom: 1px solid #CCC;
}
.table.table-horizontal td, .table.table-horizontal th {
  border-left-width: 0;
  border-bottom: 1px solid #CCC;
}
.table.table-striped tbody tr:nth-child(odd) {
  background: #F7F7F7;
}
