.message {
	display: block;
	width: 100%;
	margin-bottom: 1em;
	background: blue;
	text-align: center;

	p {
		margin: 0;
		padding: .6em;
		color: white;
	}

	&.message--success {
		background: green;
	}

	&.message--error {
		background: red;
	}

	&.message--warning {
		background: yellow;

		p {
			color: #333
		}
	}
}