header {
  background: rgba(40, 40, 40, 1);
  border-top: 4px solid rgba(149, 165, 166, 1);
}

body {}

h1, h2, h3, h4, h5, h6 {
  color: rgba(149, 165, 166, 1);
  font-weight: 100;
}

strong {
  font-weight: 400;
  color: rgba(149, 165, 166, 1);
}

a {
  color: rgba(149, 165, 166, 1);
}

pre {
  padding: .6em;
  background: rgba(240, 240, 240, 1);
}

.title-desc {
  color: gray;
}

.menu-content {
  width: 100%;
  margin-top: 1em;
}

.menu-content ul li a.active {
  background: rgba(149, 165, 166, 1);
  color: white;
}

.grid-test [class *= 'grid-unit'] {
  margin-bottom: .5em;
  background-image: linear-gradient(to right, #EEE, #DDD);
}

.grid-ex {
  text-align: center;
}

.grid-ex .menu, .grid-ex .content, .grid-ex .sidebar {
  padding: .5em;
}

.grid-ex .menu {
  background: yellow;
}

.grid-ex .content {
  background: rgba(149, 165, 166, 1);
}

.grid-ex .sidebar {
  background: blue;
}