header {
  background: rgba(40, 40, 40, 1);
  border-top: 4px solid rgba(231, 76, 60, 1);
}

body {}

h1, h2, h3, h4, h5, h6 {
  color: rgba(231, 76, 60, 1);
  font-weight: 100;
}

strong {
  font-weight: 400;
  color: rgba(231, 76, 60, 1);
}

a {
  color: rgba(231, 76, 60, 1);
}

pre {
  padding: .6em;
  background: rgba(240, 240, 240, 1);
  font-size: .8em;
}

p code {
  padding: 0em .6em;
  background: #F0F0F0;
  font-size: .8em;
  border: 1px solid gainsboro;
  word-wrap: nowrap;
}

.title-desc {
  color: gray;
}

.menu-content {
  width: 100%;
  margin-top: 1em;
}

.menu-content ul li a.active {
  background: rgba(231, 76, 60, 1);
  color: white;
}

.graph {
  text-align: center;
}

.graph .total {
  font-weight: 600;
}

.chart {
  display: block;
  width: 100%;
  height: 80px;
  font-size: 0;
}

.chart > div {
  display: inline-table;
  vertical-align: middle;
  height: 100%;
}

.chart > div > p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 10px;
}

.chart .base {
  background: rgba(231, 76, 60, 1);
}

.chart .grid {
  background: rgba(230, 126, 34, 1);
}

.chart .buttons {
  background: rgba(241, 196, 15, 1);
}

.chart .forms {
  background: rgba(52, 152, 219, 1);
}

.chart .tables {
  background: rgba(46, 204, 113, 1);
}

.chart .menus {
  background: rgba(52, 73, 94, 1);
}

.chart .messages {
  background: rgba(41, 128, 185, 1);
}

.grid-test [class *= 'grid-unit'] {
  margin-bottom: .5em;
  background: #EEE;
  background-image: linear-gradient(to right, #EEE, #DDD);
  border-left: 4px solid rgba(231, 76, 60, 1);
  font-size: 12px;
  text-align: center;
}

.grid-ex {
  text-align: center;
}

.grid-ex .menu, .grid-ex .content, .grid-ex .sidebar {
  padding: .5em;
}

.grid-ex .menu {
  background: yellow;
}

.grid-ex .content {
  background: rgba(231, 76, 60, 1);
}

.grid-ex .sidebar {
  background: blue;
}