/*--------------------------------------------------
   |					      	G R I D 							     |
   --------------------------------------------------*/

.kGr {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;
	letter-spacing: -.31em;
}

.kGr [class *= "kmp-grid-"] {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	box-sizing: border-box;
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
	zoom: 1;
}

.kGr .kGrU-1 {
	width: 100%;
}

.kGr .kGrU-1-2, .kGr .kGrU-2-4, .kGr .kGrU-3-6, .kGr .kGrU-4-8, .kGr .kGrU-6-12, .kGr .kGrU-12-24 {
	width: 50%;
}

.kGr .kGrU-1-3, .kGr .kGrU-2-6, .kGr .kGrU-4-12, .kGr .kGrU-8-24 {
	width: 33.3333%;
}

.kGr .kGrU-2-3, .kGr .kGrU-4-6, .kGr .kGrU-8-12, .kGr .kGrU-16-24 {
	width: 66.6666%;
}

.kGr .kGrU-1-4, .kGr .kGrU-2-8, .kGr .kGrU-3-12, .kGr .kGrU-6-24 {
	width: 25%;
}

.kGr .kGrU-3-4, .kGr .kGrU-6-8, .kGr .kGrU-9-12, .kGr .kGrU-18-24 {
	width: 75%;
}

.kGr .kGrU-1-5 {
	width: 20%;
}

.kGr .kGrU-2-5 {
	width: 40%;
}

.kGr .kGrU-3-5 {
	width: 60%;
}

.kGr .kGrU-4-5 {
	width: 80%;
}

.kGr .kGrU-1-6, .kGr .kGrU-2-12, .kGr .kGrU-4-24 {
	width: 16.6666%;
}

.kGr .kGrU-5-6, .kGr .kGrU-10-12, .kGr .kGrU-20-24 {
	width: 83.3333%;
}

.kGr .kGrU-1-7 {
	width: 14.2857%
}

.kGr .kGrU-2-7 {
	width: 28.5714%;
}

.kGr .kGrU-3-7 {
	width: 42.8571%;
}

.kGr .kGrU-4-7 {
	width: 57.1428%;
}

.kGr .kGrU-5-7 {
	width: 71.4285%;
}

.kGr .kGrU-6-7 {
	width: 85.7142%;
}

.kGr .kGrU-1-8 {
	width: 12.5%;
}

.kGr .kGrU-3-8 {
	width: 37.5%;
}

.kGr .kGrU-5-8, .kGr .kGrU-15-24 {
	width: 62.5%;
}

.kGr .kGrU-7-8, .kGr .kGrU-21-24 {
	width: 87.5%;
}

.kGr .kGrU-1-12 {
	width: 8.3333%;
}

.kGr .kGrU-5-12, .kGr .kGrU-10-24 {
	width: 41.6666%;
}

.kGr .kGrU-7-12, .kGr .kGrU-14-24 {
	width: 58.3333%;
}

.kGr .kGrU-11-12, .kGr .kGrU-22-24 {
	width: 91.6666%;
}

.kGr .kGrU-1-24 {
	width: 4.1666%;
}

.kGr .kGrU-5-24 {
	width: 20.8333%;
}

.kGr .kGrU-7-24 {
	width: 29.1666%;
}

.kGr .kGrU-11-24 {
	width: 45.8333%;
}

.kGr .kGrU-13-24 {
	width: 54.1666%;
}

.kGr .kGrU-17-24 {
	width: 70.8333%;
}

.kGr .kGrU-19-24 {
	width: 79.1666%;
}

.kGr .kGrU-23-24 {
	width: 95.8333%;
}


