/*--------------------------------------------------
   |					      	G R I D 							     |
   --------------------------------------------------
*/

.kGr {
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: -ms-flexbox;
	-ms-flex-flow: row wrap;

	[class *= "kGrU"] {
		display: inline-block;
		*display: inline;
		vertical-align: top;
		box-sizing: border-box;
		letter-spacing: normal;
		word-spacing: normal;
		text-rendering: auto;
		zoom: 1;
	}

	.kGrU-1 {
		width: 100%;
	}

	@for $i from 1 through 2 {
		.kGrU-#{$i}-3 {
			width: #{(100%/3) * $i};
		}
	}

	@for $i from 1 through 3 {
		.kGrU-#{$i}-4 {
			width: #{(100%/4) * $i};
		}
	}

	@for $i from 1 through 4 {
		.kGrU-#{$i}-5 {
			width: #{(100%/5) * $i};
		}
	}

	@for $i from 1 through 5 {
		.kGrU-#{$i}-6 {
			width: #{(100%/6) * $i};
		}
	}

	@for $i from 1 through 6 {
		.kGrU-#{$i}-7 {
			width: #{(100%/7) * $i};
		}
	}

	@for $i from 1 through 7 {
		.kGrU-#{$i}-8 {
			width: #{(100%/8) * $i};
		}
	}

	@for $i from 1 through 11 {
		.kGrU-#{$i}-12 {
			width: #{(100%/12) * $i};
		}
	}

	@for $i from 1 through 23 {
		.kGrU-#{$i}-24 {
			width: #{(100%/24) * $i};
		}
	}
}