@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/*--------------------------------------------------
   |					        F O R M S  						     |
   --------------------------------------------------
*/
.form fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
.form fieldset [class*='grid-unit'] {
  margin-bottom: 1em;
}
.form input[type=text], .form input[type=email], .form input[type=password] {
  display: block;
  padding: .4em .6em;
  border: none;
  border: 1px solid #95a5a6;
  border-radius: .2em;
  outline: none;
}
.form label {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: .8em;
}
.form.form--inline fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
.form.form--inline fieldset input[type=text], .form.form--inline fieldset input[type=email], .form.form--inline fieldset input[type=password] {
  display: inline-block;
  vertical-align: middle;
  padding: .4em .6em;
  border: none;
  border: 1px solid #95a5a6;
  border-radius: .2em;
  outline: none;
}
.form.form--inline fieldset label {
  font-size: .8em;
  color: #555;
}
.form.form--aligned fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
.form.form--aligned fieldset .form-group {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.form.form--aligned fieldset .form-group label {
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin-right: 1.2em;
  text-align: right;
}
.form.form--aligned fieldset .form-group input[type=text], .form.form--aligned fieldset .form-group input[type=email], .form.form--aligned fieldset .form-group input[type=password] {
  display: inline-block;
  vertical-align: middle;
  padding: .4em .6em;
  border: none;
  border: 1px solid #95a5a6;
  border-radius: .2em;
  outline: none;
}
.form.form--aligned fieldset .form-group-buttons {
  display: block;
  width: 100%;
  margin-left: 10em;
}
.form.form--aligned fieldset .form-group-buttons label {
  display: block;
  vertical-align: middle;
  width: 10em;
  margin-bottom: 1em;
  text-align: right;
}
.form.form--aligned fieldset .form-group-buttons input[type=text], .form.form--aligned fieldset .form-group-buttons input[type=email], .form.form--aligned fieldset .form-group-buttons input[type=password] {
  display: inline-block;
  vertical-align: top;
  padding: .4em .6em;
  border: none;
  border: 1px solid #95a5a6;
  border-radius: .2em;
  outline: none;
}
.form input[required]:focus {
  border: 1px solid #e74c3c;
}
.form input[disabled] {
  background: #e2e2e2;
  color: #c8c8c8;
  cursor: not-allowed;
}
.form input[readonly] {
  background: #eeeeee;
}
